@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
  display: none !important;
}

/* Vertical line to the left of the comments */
.comments-container::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: -82px;
  left: 40px;
  display: block;
  background: #edf0f5;
}

@media (min-width: 768px) {
  .comments-container::before {
    top: 0;
    left: -40px;
  }
}

.comment-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 29px;
  height: 3px;
  background: #edf0f5;
}

.comment-container:last-child::after {
  content: "";
  position: absolute;
  top: calc(50% + 3px);
  left: -41px;
  display: block;
  width: 4px;
  height: 50%;
  background: theme("colors.gray-background");
}

.is-status-update {
  border-width: 1px;
  border-image-source: linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff),
    linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-color: transparent;
}

.is-status-update > div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -57px;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border-radius: 38px;
  border: 7px solid white;
  box-shadow: 4px 4px 15px 0 rgb(36 37 38 / 8%);
  z-index: 1;
}

.open {
  @apply bg-gray-200;
}

.status-open > div::after {
  @apply bg-gray-300;
}

.considering, .status-considering > div::after {
  @apply bg-v-purple text-white;
}

.in-progress, .status-in-progress > div::after {
  @apply bg-v-yellow text-white;
}

.implemented, .status-implemented > div::after {
  @apply bg-v-green text-white;
}

.closed, .status-closed > div::after {
  @apply bg-v-red text-white;
}

.open-radio {
  @apply text-gray-900 focus:ring-gray-900;
}

.considering-radio {
  @apply text-v-purple focus:ring-v-purple;
}

.in-progress-radio {
  @apply text-v-yellow focus:ring-v-yellow;
}

.implemented-radio {
  @apply text-v-green focus:ring-v-green;
}

.closed-radio {
  @apply text-v-red focus:ring-v-red;
}

/* Media Query For Edit Idea Modal */
@media (max-height: 389px) {
  .modal-container {
    overflow-y: auto !important;
  }
}
